name: Deploy to GitHub Pages

on:
  push:
    branches: [main] # or your default branch
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Create .env file
        run: |
          echo "# Server Configuration" >> .env
          echo "SERVER_URL=${{ secrets.SERVER_URL }}" >> .env

      - name: Get dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web --base-href "/LastQuakes/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
